/* Base Settings */

/* HTML Tag */
html {
    /* Includes padding & border in width/height */
    box-sizing: border-box;
}

/* Body Tag */
body {
  /* Sets font family of document */
  font-family: 'Montserrat', sans-serif;
  /* Eliminates weird whitespace */
  font-size: 0;
}

/* Nav Tag */
nav {
  /* Allows setting dimensions, but no inline.    */
  /* This is OK because only 1 bar in nav object. */
  display: block;
}

/* Anchor Tag */
a {
  /* Turn cursor into pointer */
  cursor: pointer;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    /* Initial margin/padding of all of these elements is 0 */
    margin: 0;
    padding: 0;
}

/* IMG Tag nested in .image class div */
.image img {
    display: block;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}



/* OBJECT CLASSES */

/* Top Navbar */
  /* Overall navbar wrapper */
.navbar-custom {
  height: 71px;
  width: 100%;

  background: #84152D !important;
}
  /* Section of the navbar where 1/2 of buttons go */
.navbar-buttons {
  height: 100%;
  width: 80%;
  float: left; }
  @media screen and (max-width: 894px) {
  .navbar-buttons {
    width: 100%;
    display: none; }}
  .navbar-buttons.show-nav {
    display: inline-block;
}
  /* Section of the navbar where logo goes */
.navbar-logo {
  height: 100%;
  width: 20%;
  padding: 4vh 1vw;
  float: left;

  font-size: 2vh;
  text-align: center;
  line-height: 1.1;
  font-weight: 900;

  background: #84152D !important;
  color: #FFD200 !important; }
  @media screen and (max-width: 894px) {
    .navbar-logo {
      width: 40%;
    }
}
  /* Navbar Buttons */
.nav-btn-main {
  height: 100%;
  width: calc(100%/6);
  display: inline-block;
  position: relative; }
  /* Nav dropdowns hidden by default */
  .nav-btn-main ul {
    display: none; }
  @media screen and (max-width: 894px) {
      .nav-btn-main {
        width: 100%; }}
  /* Nav dropdowns shown when hovered over */
  @media screen and (min-width: 895px) {
    .nav-btn-main:hover ul {
      width: 100%;

      margin-top: 71px;
      left: 0;

      display: inline-block;
      position: absolute; }
}
  /* Makes buttons clickable */
a.main-click, a.drop-click {
  height: 100%;
  width: 100%;
  padding: 4vh 1vw;

  font-size: 2vh;
  letter-spacing: 0.1vw;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: 900;

  background: #84152D;
  color: #FFD200;

  display: inline-block;}
  a.drop-click {
    background: #691024 !important;
}
  /* Changes color of buttons when hovered over */
.nav-btn-main:hover a.main-click,
.nav-btn-drop:hover a.drop-click {
  background: #FFD200 !important;
  color: #84152D !important;
}
  /* Buttons within nav dropdowns */
.nav-btn-drop {
  width: 100%;
  /* We want this display setting for the legislation dropdown */
  display: inline-block;
}
  /* Nav dropdowns on mobile when clicked */
.show-drop {
  height: 300% !important; }
  #newsMenu.show-drop {
    height: 400% !important; }
  #legisMenu.show-drop {
    height: 600% !important; }
  .show-drop ul {
    position: absolute;
    margin-top: 71px;
    left: 0;
    display: inline-block;
    width: 100%; }
    .show-drop ul li {
      width: 100%; }
    #legisMenu.show-drop ul li {
      width: 50% !important; }
  /* Top Menu Button */
.menu-button-wrapper {
  display: none;
  height: 100%;
  width: 120px;
  position: relative;
  float: right;
  cursor: pointer; }
  @media screen and (max-width: 894px) {
    .menu-button-wrapper {
      display: inline-block; }}
  /* Menu button text */
  .menu-button-wrapper p {
    display: inline-block;
    font-size: 2vh;
    padding: 4vh 2vw 4vh 0vw;
    color: #FFD200;
    text-align: center;
    line-height: 1.1;
    font-weight: 900;}
  /* Menu button image */
  .menu-button {
    position: absolute;
    display: inline-block;
    padding-top: 22px;
    padding-bottom: 22px;}
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #FFD200;
      transition: 0.4s;}
    .bar2, .bar3 {margin-top: 6px;}
      /* Menu button image animation */
      .change .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      .change .bar2 {opacity: 0;}
      .change .bar3 {
        transform: rotate(45deg) translate(-9px, -8px);
}

/* Footer */
  /* Overall footer wrapper */
.footer-custom {
  width: 100%;

  padding: 0vh 5vw 5vh 5vw;

  background: #84152D !important;
  color: #FFD200;
}
  /* Footer content wrapper */
.footer-content {
  height: 25vh;
}
  /* Nav columns within footer */
.footer-column {
  width: 25%;

  margin-top: 4vh;
  padding: 2vh;
  float: left;

  display: inline-block;
  text-align: center; }
    /* Column title text */
  .footer-column h1 {
    font-size: 3vh;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
    /* Column clickable links */
  .footer-column a {
    height: 2vh;
    width: 100%;

    text-transform: uppercase;
    margin-block-start: 2vh;
    display: inline-block;
    text-decoration: none;
    color: #FFD200; }
    /* Legislation column links */
    #footer-legis.footer-column a {
      width: 25%; }
    /* Column link text */
    .footer-column a h2 {
      font-size: 2vh;
      font-weight: 600;
      text-transform: uppercase;
}
  /* Change footer settings when viewport width <= 894px */
@media screen and (max-width: 894px) {
  .footer-content {
    height: 45vh !important;
  }
  .footer-column {
    width: 100%;
  }
  #footer-legis a {
    width: 10% !important;
  }
  #footer-info, #footer-news, #footer-about {
    width: calc(100%/3);
  }
}
  /* Change footer settings when viewport width <= 767px */
@media screen and (max-width: 767px) {
  .footer-content {
    height: 50vh !important;
  }
  .footer-column {
    width: 50% !important;
  }
  #footer-legis a {
    width: calc(100%/3) !important;
  }
}
  /* Change footer settings when viewport width <= 480px */
@media screen and (max-width: 480px) {
  .footer-content {
    height: 90vh !important;
  }
  .footer-column {
    width: 100% !important;
  }
}

/* Body div */
.main-body {
  width: 100%;
  height: 100vh;
}



/* SPECIFIC OBJECTS */

@media screen and (min-width: 895px){
  /* Makes legislation navbar dropdown twice as wide */
  #years {
    width: 200%;
  }
  /* Legislation navbar button width 25% of total dropdown width */
  #years .nav-btn-drop {
    width: 25%;
  }
}



/* HELPERS */

.bg-is-dark-red {
  background: #84152D !important;
}
.bg-is-yellow {
  background: #FFD200 !important;
}
.font-is-dark-red {
  color: #84152D !important;
}
.font-is-yellow {
  color: #FFD200 !important;
}
