/* Base Settings */

/* HTML Tag */
html {
    /* Includes padding & border in width/height */
    box-sizing: border-box;
}

/* Body Tag */
body {
  /* Sets font family of document */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /* Eliminates weird whitespace */
  font-size: 0;
}

/* Nav Tag */
nav {
  /* Allows setting dimensions, but no inline.    */
  /* This is OK because only 1 bar in nav object. */
  display: block;
}

/* Anchor Tag */
a {
  /* Turn cursor into pointer */
  cursor: pointer;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
    /* Initial margin/padding of all of these elements is 0 */
    margin: 0;
    padding: 0;
}

/* IMG Tag nested in .image class div */
.image img {
    display: block;
    width: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}



/* OBJECT CLASSES */

/* Top Navbar */
  /* Overall navbar wrapper */
.navbar-custom {
  height: 71px;
  width: 100%;

  background: #84152D !important;
}
  /* Section of the navbar where 1/2 of buttons go */
.navbar-buttons {
  height: 100%;
  width: 80%;
  float: left; }
  @media screen and (max-width: 894px) {
  .navbar-buttons {
    width: 100%;
    display: none; }}
  .navbar-buttons.show-nav {
    display: inline-block;
}
  /* Section of the navbar where logo goes */
.navbar-logo {
  height: 100%;
  width: 20%;
  padding: 28px 0px;
  float: left;

  font-size: 15px;
  text-align: center;
  line-height: 1.1;
  font-weight: 900;

  background: #84152D !important;
  color: #FFD200 !important; }
  @media screen and (max-width: 894px) {
    .navbar-logo {
      padding: 28px 0vw 28px 20px !important;
      width: 40%;
      text-align: left !important;
    }
}
  /* Navbar Buttons */
.nav-btn-main {
  height: 100%;
  width: calc(100%/6);
  display: inline-block;
  position: relative; }
  /* Nav dropdowns hidden by default */
  .nav-btn-main ul {
    display: none; }
  @media screen and (max-width: 894px) {
      .nav-btn-main {
        width: 100%; }}
  /* Nav dropdowns shown when hovered over */
  @media screen and (min-width: 895px) {
    .nav-btn-main:hover ul {
      width: 100%;

      margin-top: 71px;
      left: 0;

      display: inline-block;
      position: absolute; }
}
  /* Makes buttons clickable */
a.main-click, a.drop-click {
  height: 100%;
  width: 100%;
  padding: 28px 1vw;

  font-size: 15px;
  letter-spacing: 0.1vw;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: 900;

  background: #84152D;
  color: #FFD200;

  display: inline-block;}
  a.drop-click {
    background: #691024 !important;
}
  /* Changes color of buttons when hovered over */
.nav-btn-main:hover a.main-click,
.nav-btn-drop:hover a.drop-click {
  background: #FFD200 !important;
  color: #84152D !important;
}
  /* Buttons within nav dropdowns */
.nav-btn-drop {
  width: 100%;
  /* We want this display setting for the legislation dropdown */
  display: inline-block;
}
  /* Nav dropdowns on mobile when clicked */
.show-drop {
  height: 300% !important; }
  #newsMenu.show-drop {
    height: 400% !important; }
  #legisMenu.show-drop {
    height: 600% !important; }
  .show-drop ul {
    position: absolute;
    margin-top: 71px;
    left: 0;
    display: inline-block;
    width: 100%; }
    .show-drop ul li {
      width: 100%; }
    #legisMenu.show-drop ul li {
      width: 50% !important; }
  /* Top Menu Button */
.menu-button-wrapper {
  display: none;
  height: 100%;
  width: 40%;
  position: relative;
  float: right;
  cursor: pointer; }
  @media screen and (max-width: 894px) {
    .menu-button-wrapper {
      display: inline-block; }}
  #menu-wrapper {width: 100px; margin-right: 20px; float: right;}
    /* Menu button text */
    .menu-button-wrapper p {
      width: 65px;
      display: inline-block;
      font-size: 15px;
      padding: 28px 10px 28px 0vw;
      color: #FFD200;
      text-align: center;
      line-height: 1.1;
      font-weight: 900;}
    /* Menu button image */
    .menu-button {
      position: absolute;
      display: inline-block;
      padding-top: 22px;
      padding-bottom: 22px;}
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #FFD200;
        transition: 0.4s;}
      .bar2, .bar3 {margin-top: 6px;}
        /* Menu button image animation */
        .change .bar1 {
          transform: rotate(-45deg) translate(-9px, 6px);
        }
        .change .bar2 {opacity: 0;}
        .change .bar3 {
          transform: rotate(45deg) translate(-9px, -8px);
}

/* Columns */
.columns {
  display: block;
  overflow: auto;
  padding: 2.5% 5%; }
  .column {
    height: 100%;
    width: 50%;
    display: block;
    float: left; }
    .column .text-container {
      margin: 0 5%; }
    .column .text-container h1 {
      font-size: 36px;
      text-align: center;
      line-height: 1.1;
      font-weight: 500;
      color: #000000; }
    .column .text-container .bar {
      height: 5px;
      width: 100px;
      margin: auto;
      margin-top: 10px !important;
      background: #000000; }
    .column .text-container p {
      margin-top: 10px;
      font-size: 18px;
      text-align: center;
      line-height: 1.1;
      font-weight: 500;
      color: #000000; }
    .column .text-container a {
      margin: auto;
      margin-top: 10px;
      box-sizing: content-box;
      padding: 10px 0;
      height: 20px;
      width: 180px;
      display: block;
      color: #000000;
      font-size: 20px;
      letter-spacing: 0.1vw;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.1;
      font-weight: 900;
    }
    .column .text-container a:hover {}
    .column img {
      height: auto;
      width: 95%;
      margin: 2.5%; }
    @media screen and (max-width: 740px) {
      .column {
        width: 100%; }
        .column .text-container {
          margin: 5% 5% !important; }
}

/* Photo Grid */
.hero-grid {
  margin: 5% 0;
  display: block; }
  .hero-grid .title {
    font-size: 36px;
    text-align: center;
    line-height: 1.1;
    font-weight: 500;
    color: #000000;
  }
  .hero-grid .bar {
    height: 5px;
    width: 100px;
    margin: auto;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    background: #000000;
  }
  .hero-grid .img-cont-hero {
    width: 50%;
    height: calc(100%/3);
    display: inline-block;
    overflow: hidden;
    position: relative; }
    @media screen and (max-width: 740px) {
        .hero-grid .img-cont-hero {
          width: 100%;
          height: calc(200%/3);
        }
    }
    .hero-grid .img-cont-hero a {
      z-index: 1;
    }
      .hero-grid .img-cont-hero a .txt-cont-hero {
        width: 90%;
        position: absolute;
        text-align: center;
        font-size: 5vw;
        color: #FFFFFF;
        font-weight: 700;
        float: left;
        z-index: 2;
      }
      .hero-grid .img-cont-hero a .img-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        display: block;
        opacity: 0.2;
        z-index: 1;
      }
      @media screen and (max-width: 740px) {
          .hero-grid .img-cont-hero a .txt-cont-hero {
            font-size: 10vw; }}
        .hero-grid .img-cont-hero a img {
          width: 100%;
          height: auto;
          z-index: 0; }
        .hero-grid .img-cont-hero a:hover img {
          -webkit-transform: scale(1.1);
          -webkit-transition: all 0.3s ease-in-out;
}

/* Footer */
  /* Overall footer wrapper */
.footer-custom {
  width: 100%;
  display: inline-block;
  overflow: auto;
  padding: 36px 50px;

  background: #84152D !important;
  color: #FFD200;
}
  /* Footer content wrapper */
.footer-content {
  width: 100%;
  display: inline-block;
  overflow: auto;
}
  /* Nav columns within footer */
.footer-column {
  width: 25%;

  padding: 15px;
  float: left;

  display: inline-block;
  text-align: center; }
    /* Column title text */
  .footer-column h1 {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
    /* Column clickable links */
  .footer-column a {
    height: 14px;
    width: 100%;

    text-transform: uppercase;
    margin-block-start: 14px;
    display: inline-block;
    text-decoration: none;
    color: #FFD200; }
    .footer-column a:hover {
      color: #FFFFFF;
    }
    /* Legislation column links */
    #footer-legis.footer-column a {
      width: 25%; }
    /* Column link text */
    .footer-column a h2 {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
}
.footer-social {
  width: 210px;
  display: block;
  overflow: auto;
  margin: auto;
  padding-top: 20px; }
  .footer-social a {
    width: 50px;
    margin: 0px 10px;
    font-size: 50px;
    color: #FFD200;
  }
  .footer-social a:hover {
    color: #FFFFFF;
}
  /* Change footer settings when viewport width <= 894px */
@media screen and (max-width: 894px) {
  .footer-column {
    width: 100%;
  }
  #footer-legis a {
    width: 10% !important;
  }
  #footer-info, #footer-news, #footer-about {
    width: calc(100%/3);
  }
}
  /* Change footer settings when viewport width <= 767px */
@media screen and (max-width: 767px) {
  .footer-column {
    width: 50% !important;
  }
  #footer-legis a {
    width: calc(100%/3) !important;
  }
}
  /* Change footer settings when viewport width <= 480px */
@media screen and (max-width: 480px) {
  .footer-column {
    width: 100% !important;
  }
}

/* Mailing List Sign-Up Form */

.at-inner {
  background-color: #84152D !important;
}

.at-legend {
  display: none;
}

header.at-title {
  color: #FFD200 !important;
}

.at-form-submit .at-submit {
  width: 97px !important;
  float: none !important;
}

/* SPECIFIC OBJECTS */

@media screen and (min-width: 895px){
  /* Makes legislation navbar dropdown twice as wide */
  #years {
    width: 200%;
  }
  /* Legislation navbar button width 25% of total dropdown width */
  #years .nav-btn-drop {
    width: 25%;
  }
}



/* HELPERS */

.bg-is-dark-red {
  background: #84152D !important;
}
.bg-is-yellow {
  background: #FFD200 !important;
}
.font-is-dark-red {
  color: #84152D !important;
}
.font-is-yellow {
  color: #FFD200 !important;
}
